.button {
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
    background-color: #dfdfdf;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    padding: 7px 15px;
    color: #222;
    text-decoration: none;
}

.button:active,
.button:hover {
    color: #222;
    background-color: #c7c7c7;
}

.button--active {
    color: #fff;
    background-color: #2492a8;
    border-color: #0B5665;
}

.button--active:active,
.button--active:hover {
    color: #fff;
    background-color: #0B5665;
}