.video-seek {
    flex-grow: 1;
    height: 100%;
    position: relative;
    padding: 0 10px;
}

.video-seek__container {
    position: relative;
    top: 50%;
    background: #3e3e3e;
    width: 100%;
    height: 4px;
    margin-top: -2px;
    cursor: pointer;
}

.video-seek__buffer-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #5a5a5a;
}
