.main {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    margin-top: -290px;
}

.main__title {
    display: block;
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
    color: #fff;
    font-weight: 300;
}

.main__react-logo {
    position: relative;
    top: 5px;
    display: inline-block;
    width: 45px;
    height: 40px;
    background-size: cover;
    background-image: url('./../../../assets/img/react-logo.png');
}

.main__video {
    position: relative;
    display: block;
    width: 634px;
    height: 356px;
    margin: 0 auto;
}

.main__video .video__el,
.main__video .video {
    width: 100%;
    height: 100%;
}

.main__cols {
    margin-top: 20px;
    white-space: nowrap;
}

.main__col1,
.main__col2 {
    width: 50%;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 20px 20px;
}

.main__h2 {
    margin-bottom: 20px;
    font-weight: bold;
}

.main__ul {
    white-space: normal;
}

.main__ul li {
    white-space: normal;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.main__browser-stack {
    font-size: 12px;
    text-align: center;
    padding: 40px 80px;
}

.main__browser-stack p a {
    top: 6px;
    position: relative;
    margin: 0 5px;
}

.main__browser-stack-logo {
    width: 100px;
    height: auto;
}
