.video {
    position: relative;
    display: inline-block;
    color: #fff;
    font-family: Helvetica;
    background-color: #000;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.video__controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.video:hover .video__controls {
    opacity: 1;
}
