.component {
    position: relative;
    font-family: Helvetica;
    font-size: 11px;
    background-color: #000;
}

.video {
    width: 100%;
    height: 100%;
}

.error {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.controls {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 34px;
    display: flex;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    transition: opacity 0.2s;
}

.seek {
    flex-grow: 1;
}

.component:hover .controls {
    opacity: 1;
}
