.video-mute {
    cursor: pointer;
    padding: 0;
}

.video-mute:hover {
    background-color: #1a1a1a;
}

.video-mute__inner {
    padding: 10px;
}

.video-mute__volume {
    position: absolute;
    left: 50%;
    margin-left: -12px;
    bottom: 100%;
    width: 24px;
    height: 40px;
    padding-top: 8px;
    background-color: #1a1a1a;
    display: none;
}

.video-mute--focused .video-mute__volume,
.video-mute:hover .video-mute__volume {
    display: block;
}

.video-mute__track {
    position: relative;
    width: 4px;
    height: 100%;
    margin-left: 10px;
    background-color: #3e3e3e;
}
